<%- include('./partials/header.ejs') %>

<div class="container px-10 py-8 text-white">
    <div class="cards grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <% posts.forEach(function(elem){ %>
            <div class="card relative bg-white rounded-lg overflow-hidden">
                <img src="/images/uploads/<%= elem.postImage %>" alt="image" class="h-64 w-full object-cover">
                <div class="flex justify-between bg-black bg-opacity-40 text-white -mt-16 px-4 py-1.5 rounded-b-lg absolute w-full">
                    <span>
                        <h6 class="mt-2 text-sm"><%= elem.title %></h6>
                        <h5><%= moment(posts.createdAt).format('MMM DD YYYY') %></h5>
                    </span>
                    <span>
                        <button class="delete-post bg-red-600 hover:text-red-600 text-sm hover:bg-slate-100 border border-slate-200 rounded-lg font-medium px-4 py-2 mt-1 inline-flex space-x-1 items-center" data-post-id="<%= elem._id %>">
                            <span class="w-4 h-4 text-current">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </span>
                            <span>Delete</span>
                        </button>
                    </span>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<script>
    document.querySelectorAll('.delete-post').forEach(function (button) {
        button.addEventListener('click', function () {
            var postId = this.dataset.postId;
            fetch('/delete-post/' + postId, {
                method: 'DELETE',
            })
            .then(function (response) {
                if (!response.ok) {
                    return response.json().then(function (json) {
                        console.error('Error from server:', json);
                        throw new Error(json.error);
                    });
                } else {
                    location.reload();
                }
            })
            .catch(function (error) {
                console.error('Fetch error:', error);
                alert('Post deleted successfully');
            });
        });
    });
</script>

<%- include('./partials/footer.ejs') %>
