<%- include('./partials/header.ejs') %>

<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
    <div class="cards grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <% board.posts.forEach(function(post){ %>
            <div class="card relative rounded-lg overflow-hidden shadow-md cursor-pointer bg-[url('/images/uploads/<%= post.postImage %>')]" >
                <img class="w-full h-48 object-cover" src="/images/uploads/<%= post.postImage %>" alt="<%= post.title %>">
                <div class="p-4 absolute bottom-0 w-full bg-black bg-opacity-70">
                    <h5 class="text-lg font-bold mb-2"><%= post.title %></h5>
                    <p class="text-lg font-bold mb-2 text-black"><%= post.desc %></p>
                    <!-- Add other content here if needed -->
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
